* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #edf2f7;
  background-color: black;
}

.container {
  width: 25rem;
  height: 40rem;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.status-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.square-btn {
  padding: 1rem;
  font-size: 3.5rem;
  height: 9rem;
  font-weight: bolder;
  outline: none;
  border: 0.5px solid #edf2f7;
}
